@import "../../public/font.css";

body {
  font-family: "Xpens", sans-serif;
}

/* Probably should be moved to MUI */
ul {
  list-style: "circle",
}
ol {
  list-style: "number",
}
li {
  line-height: "1",
}