# Note that passwords are injected differently in staging and production
NODE_ENV=development
# Set this to true for your first setup but I recommend disabling it after that to prevent errors
# You can re-enable it as needed/on demand
TYPEORM_SYNC_ENABLED=false

# HOSTING
EMAIL_SERVICE_HOST=localhost
EMAIL_SERVICE_PORT=3003
USER_APP_PORT=3002
ANALYTICS_APP_PORT=3004
BACKEND_APP_PORT=3006
EDU_BACKEND_APP_PORT=3007
GEMINI_PORT=433

# CORS
CORS_ORIGIN=http://localhost:3000

#Dev Environment
LOG_REQUEST_DATA=true

#ED LINK
# From the Ed Link Dashboard -> Applications -> Expanse EDU, or from 1Password
ED_LINK_CLIENT_SECRET=
ED_LINK_CLIENT_ID=

# Database
MAIN_DB_HOST=localhost
MAIN_DB_PORT=3306
MAIN_DB_SOCKET_PATH=
MAIN_DB_USER=expanseApplicationBackend
#DB_PASSWORD=INJECTED SOMEWHERE ELSE IN STAGING/PROD
MAIN_DB_PASSWORD=letsGrowTogether123!
MAIN_DB_MIGRATION_USER=mainMigrator
MAIN_DB_MIGRATION_PASSWORD=updownHappyTime123!
MAIN_DB_NAME=expanseMain
MAIN_DB_SSL=
LOG_SQL_ERRORS_TO_CONSOLE=true

ANALYTICS_DB_HOST=localhost
ANALYTICS_DB_PORT=3306
ANALYTICS_DB_USER=analyticsUser
ANALYTICS_DB_PASSWORD=
ANALYTICS_DB_NAME=expanseAnalytics

CONTACT_DB_HOST=localhost
CONTACT_DB_USER=contactApi
# Setup password yourself
CONTACT_DB_PASSWORD=
CONTACT_DB_NAME=expanse_contact
CONTACT_EMAIL_HOST=smtp.gmail.com
CONTACT_EMAIL_PORT=465
CONTACT_EMAIL_USER=info@expanseservices.com
CONTACT_EMAIL_FROM=info@expanseservices.com
# Ask
CONTACT_EMAIL_PASSWORD=
CONTACT_TEST_SENDING_EMAIL_ADDRESS=mattmckeller@outlook.com #bcc email


AUTH_EMAIL_HOST=smtp.gmail.com
AUTH_EMAIL_PORT=465
AUTH_EMAIL_USER=info@expanseservices.com
AUTH_EMAIL_FROM=info@expanseservices.com
# Ask for pw
AUTH_EMAIL_PASSWORD=
#AUTH_EMAIL_PASSWORD=INJECTED SOMEWHERE ELSE IN STAGING/PROD
AUTH_TEST_SENDING_EMAIL_ADDRESS=mattmckeller@outlook.com #bcc email


########### EMAIL ###########
SEND_MAIL=false
SEND_MAIL_TO_USERS=false
########### END EMAIL ###########


########### Texting ###########
SEND_TEXT=true
SEND_TEXT_TO_USER=false
TWILIO_SENDFROM_NUMBER=
TWILIO_SENDTO_DEMO= # Used as the send to number in the event that text to user is off but sending is on
TWILIO_ACCOUNT_ID=
TWILIO_AUTH_TOKEN=
########### End Texting ###########


########### GOOGLE ###########
GEMINI_API_KEY=<APIKEY>
GEMINI_TEXT_MODEL=gemini-1.5-flash
GEMINI_VISION_MODEL=gemini-1.5-pro
GOOGLE_IMAGE_GEN_PROJECT_ID=vision-ai-444302
########### End Section ###########

WEBSITE_URL = 'https://www.expanseservices.com'
PRIVACY_POLICY_PATH = '/privacy-policy'
SUPPORT_EMAIL = 'info@expanseservices.com'
COMPANY_NAME = 'Expanse Services LLC'
COMPANY_PHONE_NUMBER = '(816) 739-9473'

########### Testing ###########
USE_MOCK_DATA_FOR_ASSIGNMENTS_RETRIEVAL=false
USE_MOCK_DATA_FOR_SUBMISSION_RETRIEVAL=false
########### End Testing ###########